/* Estilos base */
body {
  font-family: 'Verdana', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f0e4
}

.accordion {
  background-color: lightblue;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-size: 18px;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: black; /* Asegura que el texto dentro del panel sea visible */
}

.panel p {
  color: black; /* También puedes aplicar esto para asegurarte de que cualquier texto dentro del panel sea negro */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .accordion {
    font-size: 16px;
  }
  .panel {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .accordion {
    font-size: 14px;
  }
  .panel {
    padding: 0 8px;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

input[type="text"] {
  width: 100px;
  padding: 8px;
  margin: 4px 0;
  box-sizing: border-box;
  font-size: 16px;
  color: black; /* Asegura que el texto escrito sea negro */
}

button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 16px;
}

/* Ajuste de botones en móviles */
@media (max-width: 600px) {
  button {
    font-size: 14px;
  }
  input[type="text"] {
    font-size: 14px;
  }
}
table {
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

th, td {
  border: 2px solid black;
  padding: 15px;
}

th {
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
}

td {
  font-size: 16px;
}

.verbo-preterito-simple {
  color: green;
  font-weight: bold;
}

.verbo-preterito-imperfecto {
  color: purple;
  font-weight: bold;
}

.palabras-clave {
  color: red;
  font-weight: bold;
}


#paint-container {
  position: relative;
  display: inline-block;
}

#paint-canvas {
  border: 2px solid black;
  cursor: crosshair;
}

#background-image {
  display: none; /* Ocultamos la imagen de fondo porque solo la usamos como referencia */
}

/* Estilos para los controles */
#color-picker, #tool-picker, #brush-size {
  margin-top: 10px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}
/* spellcheck*/
#text-input {
  width: 100%;
  height: 200px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#save-button {
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 16px;
}


