body {
    font-family: Arial, sans-serif;
    background-color: #fdf6e3; /* Color crema */
    padding: 20px;
}

h1 {
    text-align: center;
}

.accordion {
    display: flex;
    flex-direction: column; /* Hace que los menús sean verticales */
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.accordion-button {
    background-color: #f4d6a6;
    color: black;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.2s;
    width: 100%;
    font-size: 16px;
}

.accordion-button:hover {
    background-color: #edd694;
}

.accordion-content {
    background-color: #faf3e6;
    display: none;
    overflow: hidden;
    padding: 15px;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: #f4d6a6;
}

button {
    margin: 10px;
}



