/* Estilos para las actividades */

body {
    background-color: #F5F5DC;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

h2 {
    color: #333;
}

.instructions {
    margin-bottom: 20px;
}

.soup-container table, #crossword {
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

.exercise-container {
    margin: 20px;
}

.input-box {
    width: 120px;
    font-size: 16px;
    text-align: center;
}

.btn button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

