body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f0e4; /* Cambiado a #f2f0e4 */
}

header {
    background-color: #35424a;
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

.accordion {
    background-color: #35424a;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
}

.panel {
    display: none;
    padding: 0 18px;
    background-color: #f1f1f1;
}

input[type="text"] {
    margin: 5px 0;
    padding: 5px;
    width: 60px; /* Ajustar al tamaño mínimo para una palabra */
    display: inline-block; /* Asegura que los inputs se mantengan en línea */
}

button {
    margin: 10px 0;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #35424a;
    color: white;
}

button:hover {
    background-color: #5c757d;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
